:root
{
    --bg:           #faf5ff;
    --accent-bg:    #f5f0ff;
    --text:         #211b21;
    --text-light:   #585058;
    --border:       #cbc0d0;
}

article > a > h2 {
	margin: 8px 0px 0px 0px;
	padding: 0px;
	font-size: 1.5em;
}

article {
	border: solid 1px var(--border);
	padding: 8px 32px;
	margin-bottom: 16px;
	background-color: var(--accent-bg);
	border-radius: 5px;
}
